#btnGuardar {
    margin-left: 1.5rem;
}

.fila {
    margin-top: 1rem;
}

.form {
    padding: 2rem;
}

.fila-drop {
    margin-top: 1.5rem;
}

.titulo {
    --bs-text-opacity: 1;
    color: #737373 !important;
}

.text-info {
    color: #737373 !important;
    font-weight: normal !important;
}

/*Checkbox inline*/
.checkbox-input li {
    display: block;
    float: left;
    width: 8.4rem;
}

/*Combobox */
.select2-selection__rendered {
    line-height: 31px !important;
}

.select2-container .select2-selection--single {
    height: 38px !important;
    font-size: 1.0rem !important;
    padding: 3px 24px 6px 12px !important;
}

.select2-selection__arrow {
    height: 38px !important;
}


/*GroupBox */
fieldset.scheduler-border {
    border: 1px solid #ddd !important;
    padding: 0 0em 0em 1.4em !important;
    margin: 0 0 0.5em 0 !important;
    border-color: lightgray !important;
    border-radius: 5px;
}

legend.scheduler-border {
    font-size: 1.2em !important;
    text-align: left !important;
    border: none;
    width: auto;
}
